
body{
    width: 100vw;
    height: 100vh;
    background-image: url('https://getwallpapers.com/wallpaper/full/5/f/8/1295352-room-desktop-wallpaper-1920x1200-for-1080p.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
  
    max-width: 97vw;
    max-height: 97vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

button{
width: 30px;
height: 30px;
border-radius:15px;
border-color: gray;
border-style:inherit;
margin: 20px;
background-color: white;
font-size: 5px;
position: relative;
right: 135px;
color:rgb(82, 82, 82);
}

select{
    width: 150px;
    font-size: 1.5rem;
    padding-top: 2px;
    margin-bottom:5px;
}

#member{
    width: 307px;
    font-size: 1.5rem;
    padding-top: 2px;
    margin-bottom:5px;
}

#meetingName{
    width: 300px;
    height: 30px;
    margin-bottom: 2px;
    font-size: 15px;
    color:black;
}

#meetingInfo{
    width: 300px;
    height:300px;
    margin-bottom: 2px;
    font-size: 15px;
    color:black;
}

label{
font-size: 20px;
margin-top: 10px;
font-weight: bold;
}

#container{
  margin: 50px;
  padding: 50px;
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 5px;
  border-style: double;
  border-color: black;


  position: relative;
  margin: auto;
  text-align: center;
}

.save {
    color: white;
    background:deepskyblue;
    position: absolute;
    width: 100px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    right: 128px;
  }

  .delete {
    color: white;
    background:rgb(226, 70, 70);
    position: absolute;
    width: 100px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    right: 250px;
  }
  